.container {
background-color: white;
flex-wrap: wrap;
display: flex;
width: 1440px;

}
.box {
    background-color: black;
    color: white;
    width: 400px;
    margin: 10px;
    height: 100px;
    font-size: 50px;
    border-radius: 15px;
}
.boxa {
    flex-grow: 1;
}
.boxb {
    flex-grow: 1;
}
.boxc {
    flex-grow: 1;
}
.boxd {
    flex-grow: 50;
}
.boxe {
    flex-grow: 1;
}